// Font-Family Variables

$ff-roboto: "Roboto", sans-serif;
$ff-pixel: "Press Start 2P", cursive;

// Color Variables

$primary-text: #ddd;
$header-background: #111720;
$header-text: #fac650;
$main-background: #222831;
$button-color: #393e46;
$button-color-hover: #4a4f57;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100svh;
  color: $primary-text;
  font-family: $ff-roboto;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: $header-background;
  height: 9rem;

  h1 {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    font-family: $ff-pixel;
    color: $header-text;
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2.5rem;

  height: 90%;
  background-color: $main-background;
}

.game-status {
  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;
  font-weight: bold;

  p {
    margin-top: 0.5rem;

    font-size: 1.3rem;
  }
}

.game-score {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
  gap: 5rem;

  .score {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    i {
        font-size: 6rem;
    }

  }
}

.game-choices {
  display: flex;
  flex-direction: row;
}

.scissors {
  transform: rotate(90deg);
}
